[submodule "infrastructure/postgres/postgres-operator"]
	path = infrastructure/postgres/postgres-operator
	url = https://github.com/zalando/postgres-operator.git
[submodule "infra/hairpin-proxy"]
	path = infra/hairpin-proxy
	url = https://github.com/compumike/hairpin-proxy
